body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

#content {
    margin: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

#create{
    display: none;
}